{% import "macros/vc_fig.html" as vc_fig %}

{% macro vc(img_id) %}
    {{ vc_fig::vc_fig(img_id=img_id, codec_id="ground_truth", name="Ground Truth") }}
    {{ vc_fig::vc_fig(img_id=img_id, codec_id="jpeg", name="JPEG") }}
    {{ vc_fig::vc_fig(img_id=img_id, codec_id="bpg", name="BPG") }}
    {{ vc_fig::vc_fig(img_id=img_id, codec_id="webp", name="WebP") }}
    {{ vc_fig::vc_fig(img_id=img_id, codec_id="strumpler", name="Strumpler") }}
    {{ vc_fig::vc_fig(img_id=img_id, codec_id="webp", name="NIF") }}
{% endmacro vc %}
