{% macro vc_fig(img_id, data) %}
    <div class="vc-container">
        <div class="vc-images">
            <div class="vc-full">
                <img loading="lazy" src="visual_comparisons/{{img_id}}/full/{{data['id']}}.png">
            </div>
            <div class="vc-crop">
                <img loading="lazy" src="visual_comparisons/{{img_id}}/crop/{{data['id']}}.png">
            </div>
        </div>
        {% if data["metrics"] %}
            <p class="vc-caption">{{data["name"]}}, {{data["metrics"]["bpp"]}}bpp</p>
            <p class="vc-caption">PSNR: {{data["metrics"]["psnr"]}}dB, MS-SSIM: {{data["metrics"]["ms_ssim"]}}</p>
        {% else %}
            <p class="vc-caption">{{data["name"]}}</p>
            <p class="vc-caption">{{data["image_name"]}}, {{data["resolution"]}}</p>
        {% endif%}
    </div>
{% endmacro vc_fig %}
