<div id="citation" class="citation-container">
    <span class="citation-title">BibTeX</span>
    <textarea class="citation-block" rows="9" readonly wrap="off">
        @inproceedings{10.1145/3581783.3613834,
            author = {Catania, Lorenzo and Allegra, Dario},
            title = {NIF: A Fast Implicit Image Compression with Bottleneck Layers and Modulated Sinusoidal Activations},
            doi = {10.1145/3581783.3613834},
            booktitle = {ACM International Conference on Multimedia},
            year = {2023},
            pages = {9022-9031}
        }
    </textarea>

    <span class="citation-title">ACM Ref</span>
    <textarea class="citation-block" rows="5" readonly wrap="on">Lorenzo Catania and Dario Allegra. 2023. NIF: A Fast Implicit Image Compression with Bottleneck Layers and Modulated Sinusoidal Activations. In Proceedings of the 31st ACM International Conference on Multimedia (MM '23). Association for Computing Machinery, New York, NY, USA, 9022-9031. https://doi.org/10.1145/3581783.3613834
    </textarea>
</div>