<div class="citation-container">
    <textarea class="citation-block" rows="7" readonly wrap="off">
        @inproceedings{10.1145/3581783.3613834,
            author = {Catania, Lorenzo and Allegra, Dario},
            title = {NIF: A Fast Implicit Image Compression with Bottleneck Layers and Modulated Sinusoidal Activations},
            doi = {10.1145/3581783.3613834},
            booktitle = {Proceedings of the 31st ACM International Conference on Multimedia},
            pages = {9022–9031}
        }
    </textarea>
</div>