/* Reset rules */
html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 150%;
}

:root {
  --primary: #428bca;
  --accent: #ef8354;
  --bg-light: #fdfdfd;
  --primary-grey: #e9e9e9;
  --dark-grey: #333;
  --light-grey: #f5f5f5;
  --content: #333;
  --content-dark: #333;
  --content-light: #fdfdfd;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.05rem;
}

/* Tables */
table {
  margin: 2rem auto;
  font-size: 1.2rem;
  text-align: center;
  border-collapse: collapse;
}

table * {
  padding: 0.5rem 1rem;
}

th {
  font-weight: 400;
  background-color: var(--primary);
  color: var(--content-light);
  border: none;
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: var(--light-grey);
}

td > strong {
  font-weight: 500;
}

/* Helpers */
.align-justify {
  text-align: justify;
}

.align-center {
  text-align: center;
}

.figure {
  text-align: center;
  width: 100%;
}

.figure > img {
  margin: auto;
  width: 100%;
}

.content {
  padding: 1.5rem;
}

.side-half .side-figure img {
  width: 100%;
  max-height: 500px;
}

.section-content {
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background: var(--bg-light);
}

.vc-slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.vc-kodak-container {
  text-align: center;
}

.vc-kodak-images {
  position: relative;
}

.vc-kodak-full {
  position: relative;
}

.vc-kodak-crop {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 35%;
  border-top: solid 1px white;
  border-left: solid 1px white;
}

.vc-kodak-caption {
  margin: auto;
  font-size: 1rem;
}

.vc-kodak-slider {
  margin: auto;
}

.vc-kodak-full > img, 
.vc-kodak-crop > img 
{
  margin: auto;
  width: 100%;
}

.vc-celeba-images {
  position: relative;
}

.vc-celeba-full {
  position: relative;
}

.vc-celeba-crop {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35%;
}

.vc-celeba-caption {
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.vc-celeba-slider {
  margin: auto;
}

.vc-celeba-full > img, 
.vc-celeba-crop > img {
  margin: auto;
  width: 100%;
}

.vc-celeba-crop > img {
  border-bottom: solid 1px white;
  border-left: solid 1px white;
}

.vc-icb-images {
  position: relative;
}

.vc-icb-full {
  position: relative;
}

.vc-icb-crop {
  position: relative;
}

.vc-icb-caption {
  text-align: center;
  margin: auto;
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.vc-icb-slider {
  margin: auto;
}

.vc-icb-crop > img {
  margin: auto;
  width: 100%
}

.citation-container {
  width: 80%;
  margin: auto;
}

.citation-block {
  width: 100%;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 0.3em;
  background-color: #fdfdfd;
  border: none;
  resize: none;
}

.citation-spacer {
  height: 1em;
}

.citation-title {
  display: block;
  text-align: center;
  font-weight: 400;
}

.bottom-link {
  text-align: center;
}

#page-header > h1 {
  font-size: 1.8rem;
  color: var(--content);
}

hr {
  /* fix height in Firefox */
  height: 0;
  /* fix inheritance of border color in Firefox */
  color: inherit;
}

abbr[title] {
  /* fix text decoration in Chrome, Edge, Safari. */
  text-decoration: underline dotted;
}

b,
strong {
  /* fix font weight in Edge and Safari */
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  /* improve consistency of default fonts in all browsers */
  font-family: monospace;
  /* correct the odd 'em' font sizing in all browsers */
  font-size: 1em;
}

small {
  /* fix font size in all browsers */
  font-size: 80%;
}

/* prevent sub and sup from affecting the line height in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  /* remove text indentation from table contents in Chrome and Safari */
  text-indent: 0;
  /* fix table border color inheritance in Chrome and Safari */
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  /* fix font styles in all browsers */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  /* remove margin in Firefox and Safari */
  margin: 0;
}

button,
select {
  /* remove inheritance of text transform in Edge and Firefox */
  text-transform: none;
}

button, 
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 0.3em;
  background-color: var(--primary);
  color: var(--content-light);
  outline: none;
  border: none;
}

progress {
  /* fix vertical alignment in Chrome and Firefox */
  vertical-align: baseline;
}

summary {
  /* fix display in Chrome and Safari */
  display: list-item;
}

/* general */
body {
  color: #333;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 8px;
  margin-top: 8px;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin-left: 20px;
}

blockquote {
  color: #a8a8a8;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

pre {
  padding: 8px 12px;
  font-family: "Source Code Pro", monospace;
}

code {
  font-size: 16px;
  padding: 1px 5px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eff1f5;
}

hr {
  border-color: #fff;
}

/* header */
header {
  border-top: 5px solid #428bca;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}

.header-content {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media (max-width: 800px) {
  .header-content {
    max-width: 760px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header-content-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

a.header-content-title {
  color: #5c5c5c;
}

.header-content-nav {
  float: right;
  line-height: 56px;
}
@media (max-width: 600px) {
  .header-content-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .header-content-nav:hover .header-content-nav-trigger {
    display: block;
    padding-bottom: 5px;
  }
}

.header-content-nav-icon {
  display: none;
}
@media (max-width: 600px) {
  .header-content-nav-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header-content-nav-trigger {
    clear: both;
    display: none;
  }
}

.header-content-nav-trigger-link {
  color: #5c5c5c;
  line-height: 1.5;
  margin-left: 16px;
}
@media (max-width: 600px) {
  .header-content-nav-trigger-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
}

/* blog */
.blog-posts {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .blog-posts {
    max-width: 760px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.blog-posts-list {
  margin-left: 0;
  list-style: none;
}

.blog-posts-list-item {
  margin-bottom: 30px;
}

.blog-posts-list-item-meta {
  font-size: 14px;
  color: #a8a8a8;
}

.blog-posts-list-item-link {
  font-size: 24px;
  letter-spacing: -1px;
}

.page-content-meta {
  font-size: 14px;
  color: #a8a8a8;
  margin-bottom: 30px;
}

.page-content-body {
  margin-bottom: 30px;
}

/* footer */
footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-content {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 800px) {
  .footer-content {
    max-width: 760px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.footer-content-left {
  flex: 1;
  font-size: 15px;
  color: #a8a8a8;
  letter-spacing: -0.3px;
}

.footer-content-right {
  opacity: 0.3;
}

.footer-content-right a {
  margin-left: 8px;
}

@media screen and (min-width: 1024px){
  table {
    font-size: 1.3rem;
  }

  .content{
    margin: 0 auto;
    width: 66vw;
  }

  .no-break {
    white-space: nowrap;
  }
}

@media screen and (min-width: 750px){
  .side-half {
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
  }

  .side-paragraph {
    flex-basis: 60%;
  }

  .vc-slider-kodak {
    grid-template-columns: repeat(3, 1fr);
  }

  .vc-slider-celeba {
    grid-template-columns: repeat(4, 1fr);
  }

  .vc-slider-icb {
    grid-template-columns: repeat(5, 1fr);
  }
}
