<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{{ section.title }}</title>
      <meta viewport="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
    </head>
    <body>
        <div class="content">
            {% for page_data in section.pages %}
                <div id="page-{{page_data.slug}}" class="section-content">
                    <h1>
                        {{ page_data.title }}
                    </h1>
                    <div class = "align-{{ page_data.extra.align }}">
                        {{ page_data.content | safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>